*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;

}
h1{
    color: yellow ;
    margin: 10px  ;
    font-size: 3rem;

}
p{
    font-size: 1rem;
    margin: 10px ;
    text-align: center;
}
body{
    background: url(./WhatsApp\ Image\ 2025-07-26\ at\ 17.58.16_476854de.jpg) center/cover no-repeat fixed;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    font-size: 48px;
    color: orange; 
    font-size: 16px;
}
button{
    display: inline-block;
    padding: 12px 30px;
    background: transparent;
    border: 2px solid #ffa500;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    background: #ffa500;
    color: #000;
    background: orange;
    color: black ;
}
.lyer{
    background-color: rgba(0, 0, 0, 0.541);
    height: 100vh;
    overflow: hidden;
}
.content{
    text-align: center;
    margin-top: 250px;
}